.calendar-container {
  background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    max-width: 300px;
}
  
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
  
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}
  
.calendar-day-name {
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}
  
.calendar-day {
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
  
    &.inactive {
      color: #bbb;
    }
  
    &.marked {
      background-color: #4caf50;
      color: white;
      font-weight: bold;
    }
  
    &:hover {
      background-color: var(--primary-accent-400);
      color: white;
    }

    &.selected {
      background-color: var(--primary-accent-400);
      color: white;
      font-weight: bold;
    }
}  