<div class="calendar-container">
    <div class="calendar-header">
      <div class="button back" (click)="changeMonth(-1)">
        <mat-icon class="material-icons-outlined">arrow_back_ios_new</mat-icon>
      </div>
      <span>{{ getMonthName() | capitalizeFirst }}</span>
      <div class="button forward" (click)="changeMonth(1)">
        <mat-icon class="material-icons-outlined">arrow_forward_ios_new</mat-icon>
      </div>
    </div>

    <div class="divider"></div>
  
    <div class="calendar-grid">
      @for (day of daysOfWeek; track $index) {
        <div class="calendar-day-name">
          {{ day }}
        </div>
      }
  
      @for (day of currentMonthDays; track $index) {
        <div 
          class="calendar-day"
          (click)="selectDate(day)">
          <span
            class="day-number"
            [class.marked]="isMarked(day) && day.getMonth() === currentDate.getMonth()"
            [class.selected]="isSelected(day)"
            [class.today]="isToday(day)"
            [class.inactive]="day.getMonth() !== currentDate.getMonth()">
              {{ day.getDate() }}
          </span>
        </div>
      }
    </div>
  </div>
  