.calendar-container {
  background: white;
  border: var(--border-1-3);
  border-radius: 8px;
  padding: 0.5rem;
  max-width: 300px;
}
  
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.calendar-header > .button {
  display: inline-flex;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.calendar-header > .button:hover {
  background-color: var(--p-slate-100);
}

.calendar-header > .button mat-icon {
  scale: 0.6;
}

.divider {
  height: 1px;
  width: 100%;
  align-self: center;
  background: var(--p-slate-200);
  margin-bottom: 0.5rem;
}
  
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}
  
.calendar-day-name {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
  
.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-day > .day-number {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 400;

  border-radius: 50%;
  cursor: pointer;

  &.marked {
    border: 1px solid var(--primary-accent-600);
    background-color: var(--primary-accent-50);
  }

  &.inactive {
    color: #bbb;
  }

  &.today {
    font-weight: 700;
    color: inherit;
  }

  &:hover {
    background-color: var(--p-slate-200);
    color: inherit;
  }

  &.selected {
    background-color: var(--primary-accent-500);
    color: white;
    font-weight: 600;
    border: none;
  }
}