section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--gray-300);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: white;
}

input {
    width: 95%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    font-weight: 600;
}

input:focus {
    outline: var(--primary-accent-500) solid 2px;
}

@media (max-width: 600px) {
    input {
        padding: 0.5rem;
    }

    input:focus {
        outline: var(--primary-accent-500) solid 1px;
    }
}

div {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    width: 5%;
}

span {
    border-radius: 8px;
    font-size: clamp(1.25rem, 2.5vw, 1.7rem);
    padding: 0.5rem;
    cursor: pointer;
}

span:hover {
    background-color: var(--gray-300);
}

span:active {
    color: var(--primary-accent-500);
}