section {
    display: flex;
    align-items: center;
}

i {
    position: absolute;
    padding-left: 1.1rem;
    color: var(--p-slate-400);
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

@media (max-width: 600px) {
    i  {
        padding-left: 0.75rem;
    }
}

input {
    color: var(--p-slate-900);
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: var(--border-1-2);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.05);
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    transition: border-color 0.2s ease;
}

input::placeholder {
    color: var(--p-slate-400);
}

@media (min-width: 768px) {
    input:hover {
        border-color: var(--p-slate-400);
    }    
}

input:focus {
    outline: none;
    border-color: var(--primary-accent-500);
}

::ng-deep .p-input-icon {
    left: 1rem;
}

::ng-deep #search {
    padding-left: 3rem;
}

@media (max-width: 600px) {
    input {
        padding: 0.5rem;
    }

    ::ng-deep .p-input-icon {
        left: 0.75rem;
        font-size: 0.75rem;
    }
    
    ::ng-deep #search {
        padding-left: 2rem;
    }

}