section {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: var(--border-1-2);
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.075);
    background-color: white;
    transition: border-color 0.2s ease;
}

@media (min-width: 768px) {
    section:hover {
        border-color: var(--p-slate-400);
        box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.1);
    }    
}

section.focused {
    outline: none;
    border-color: var(--primary-accent-500);
}

i {
    flex: 0 0 auto;
    color: var(--p-slate-500);
    font-size: 1.1rem;
    padding: 1rem 0rem 1rem 1rem;
}

input {
    flex: 1 1 auto;
    width: 100%;
    padding: 1rem;
    color: var(--p-slate-900);
    font-size: 1rem;
    border: none;
    border-radius: 20px;
}

input::placeholder {
    color: var(--p-slate-400);
}

input:focus {
    outline: none;
}


@media (max-width: 600px) {
    section {
        border-radius: 12px;
    }

    i {
        font-size: 0.75rem;
        padding: 0.5rem 0rem 0.5rem 0.5rem;
    }

    input {
        font-size: 0.75rem;
        padding: 0.5rem;
        border-radius: 12px;
    }
}