.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.header mat-icon {
    margin-right: 1rem;
    cursor: pointer;
}

section {
    margin-bottom: 3rem;
}

section.families {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
    padding: 1rem;
    scroll-behavior: smooth;
}

section.families.unfold {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    overflow-x: none;
    overflow-y: none;
}

.family {
    padding: 1rem;
    background-color: white;
    white-space: nowrap;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    cursor: pointer;
}

p {
    margin: 0;
}

section.articles {
    width: 100%;
}