<section class="search-bar">
  <app-search-bar/>
</section>  

<section class="families">
    <app-families/>
</section>

<section class="articles featured">   
    <app-articles (loadArticles)="loadFeaturedArticles()" [articles]="featuredArticles" [headerTitle]="featuredHeaderTitle" [totalArticles]="totalFeaturedArticles" [per_page]="per_page" [loadingArticles]="loadingFeaturedArticles"/>
</section>

<section class="articles new">
    <app-articles (loadArticles)="loadNewArticles()" [articles]="newArticles" [headerTitle]="newHeaderTitle" [totalArticles]="totalNewArticles" [per_page]="per_page" [loadingArticles]="loadingNewArticles"/>
</section>
