<app-search-bar/>

<section class="families">
    <app-families/>
</section>

<h2>Destacado</h2>
<section class="articles featured">
    <h4>{{ featuredArticles.length }} de {{ totalFeaturedArticles }} artículos</h4>    
    <app-articles [articles]="featuredArticles" [per_page]="per_page"/>
    <div class="articles-footer">
        <button class="show-more" (click)="loadFeaturedArticles()" [disabled]="loadingFeaturedArticles">
            <ng-container *ngIf="!loadingFeaturedArticles; else loadingTemplate">
              Show More
            </ng-container>
            <ng-template #loadingTemplate>
              <i class="pi pi-spin pi-spinner"></i>
            </ng-template>
        </button>
    </div>
</section>

<h2>Novedades</h2>
<section class="articles new">
    <h4>{{ newArticles.length }} de {{ totalNewArticles }} artículos</h4>
    <app-articles [articles]="newArticles" [per_page]="per_page"/>
    <div class="articles-footer">
        <button (click)="loadNewArticles()" [disabled]="loadingNewArticles ">
            <ng-container *ngIf="!loadingNewArticles; else loadingTemplate">
              Show More
            </ng-container>
            <ng-template #loadingTemplate>
              <i class="pi pi-spin pi-spinner"></i>
            </ng-template>
        </button>
    </div>
</section>
