section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

@media (max-width: 600px) {
    section {
        width: 250px;
    }
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 12px;
    border: var(--border-1-3);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0, 0.1);
    background-color: white;
}

.form-group {
    width: 100%;
    margin-bottom: 1.5rem;
}

@media (max-width: 600px) { 
    .register-form {
        gap: 0.5rem;
        padding: 0.75rem;
    }
    
    .form-group {
        margin-bottom: 1rem;
    }
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: clamp(0.75rem, 2vw, 1.1rem);
}

input {
    font-size: clamp(0.7rem, 2vw, 1rem);
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    border: var(--border-1-2);
    box-sizing: border-box;
    background-color: var(--background-white);
}

@media (max-width: 600px) { 
    label {
        margin-bottom: 0.3rem;
    }
    
    input {
        padding: 0.4rem;
        border-radius: 8px;
        border: var(--border-1-2);
        box-sizing: border-box;
    }
}

input:focus {
    outline: none;
    border-color: var(--primary-accent-500);
}

input.error {
    border-color: var(--error-accent);
}

.message.error {
    line-height: 0;
    position: absolute;
}

.message.error p {
    color: var(--error-accent);
}

button {
    width: 100%;
    padding: 0.75rem 3rem;
    color: white;
    background-color: var(--primary-accent-500);
    border-radius: 8px;
    font-weight: 600;
    font-size: clamp(0.7rem, 2vw, 1rem);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

@media (min-width: 768px) {
    button:hover {
        background-color: var(--primary-accent-600);
    }
}

button:active {
    background-color: var(--primary-accent-400);
}

button:disabled {
    background-color: var(--primary-accent-300);
    cursor: not-allowed;
}

@media (max-width: 600px) {
    button {
        padding: 0.5rem 1.5rem;
    }
}

.turnstile-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.turnstile-wrapper {
    margin-top: 2rem;
    position: absolute;
}

@media (max-width: 600px) {
    .turnstile-wrapper {
        margin-top: 1rem;
        scale: 0.75;
    }
}