main {
    margin: 0rem auto;
}

.messages {
    max-width: 100rem;
    width: 100%;
    padding: 0 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.content {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

@media (min-width: 100rem) {
    .messages {
        min-width: 100rem;
        padding: 0;
    }
}

@media (max-width: 600px) {
    .messages {
        width: 100%;
        padding: 0 0.5rem;
    }

    .content-wrapper {
        flex-direction: column;
        gap: 1rem;
    }
}

aside {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

h2 {
    margin: 0;
    cursor: pointer;
}

h2.active {
    color: var(--primary-accent-500);
}

.menu {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;

}

.separator {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.separator p {
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 600;
    color: var(--p-slate-400);
}

.mat-divider {
    width: 3rem;
    border-width: 2px;
    color: var(--p-slate-200);
}

footer {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

footer > .footer-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--p-slate-500);
    font-weight: 500;
    cursor: pointer;
    white-space: no-wrap;
}

footer > .footer-content:hover {
    text-decoration: underline;
    color: var(--primary-accent-500);
}

footer > .footer-content mat-icon {
    scale: 0.95;
}