<section class="families">
    <header>
        <h4>Familias</h4>
        @if (!noFamilies && !serverError) {
            <div class="un-fold" (click)="toggleFamiliesDisplay()">
                @if (!familiesUnfold) {
                    <p>Desplegar</p>
                    <span @arrowRotateLeft class="pi pi-angle-down"></span>
                } @else {
                    <p>Ocultar</p>
                    <span @arrowRotateRight class="pi pi-angle-up"></span>
                }
            </div>
        }
    </header>
    @if (!noFamilies && !serverError) {
        <section class="scroller" [class.unfold]="familiesUnfold" (wheel)="onFamilyScroll($event)">
                @if (!loading()) {
                    @for (family of families(); track $index) {
                        <div class="family" (click)="navigateToFamily(family)">
                            <p>{{ family.nomfam | capitalize }}</p>
                        </div>
                    }
                } @else {
                    @for (placeholder of placeholders(); track $index) {
                        <div class="family">
                            <div class="placeholder-text">
                                <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px"/>
                            </div>
                        </div>
                    }
                }
        </section>
    }

    @if (noFamilies) {
        <div class="no-families-info">
            <span class="material-symbols-outlined">search_off</span>
            <p>No se han encontrado artículos</p>
        </div>
    }

    @if (serverError) {
        <div class="no-families-info">
            <span class="material-symbols-outlined">warning</span>
            <p>Se ha producido un error</p>
        </div>
    }
</section>
