section.families {

}

@media (max-width: 600px) {
    section.families {
        padding: 0.5rem;
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    header {
        margin-bottom: 0.5rem;
    }
}

.un-fold {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.65rem, 2.5vw, 1rem);
    cursor: pointer;
    color: var(--p-slate-500);
}

@media (max-width: 600px) {
    .un-fold {
        margin: 0;
        gap: 0.25rem;
    }
}

.un-fold p:hover {
    text-decoration: underline;
}

span {
    font-size: clamp(0.9rem, 2.5vw, 1.25rem);
}

section.scroller {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-accent-500) white;
}

section.scroller.unfold {
    display: grid;
    padding: 1rem 0.1rem;
    padding-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: auto;
    animation: unfold 2s ease-out;
}

@keyframes unfold {
    from {
        max-height: 4rem;
    }
    to {
        max-height: 10000px;
    }
}

@media (max-width: 100rem) {
    section.scroller {
        padding: 1rem 0.1rem;
        padding-top: 0;
    }    
}

@media (max-width: 600px) {
    section.scroller {
        gap: 0.5rem;
        padding: 0.5rem 0.1rem;
        padding-top: 0;
    }


    section.scroller.unfold {
        padding: 1rem 0.1rem;
        padding-top: 0;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}


.family {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1.25rem;
    white-space: nowrap;
    text-align: left;
    border-radius: 20px;
    border: var(--border-1-2);
    background-color: white;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    font-weight: 500;
}

.family .icon {
    font-size: 30px;
    font-variation-settings: 'FILL' 0, 'wght' 300;
}

@media (max-width: 600px) {
    .family {
        gap: 0.5rem;
        padding: 0.5rem 0.8rem;
        border-radius: 12px;
        font-size: 0.75rem;
    }

    .family .icon {
        font-size: 20px;
    }
}

.family:hover {
    background-color: var(--p-slate-50);
}

.family:active {
    background-color: var(--p-slate-100);
    border-color: var(--primary-accent-500);
    color: black;
}

p {
    margin: 0;
}

.placeholder-text {
    width: 7rem;
    height: 1rem;
}

@media (max-width: 600px) {
    .placeholder-text {
        width: 3.5rem;
        height: 0.5rem;
    }
}

.unfold .placeholder-text {
    width: 100%;
}

.no-families-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1rem;
    padding: 3rem;
    border: var(--border-1-3);
    border-radius: 8px;
    box-shadow: inset 0 4px 8px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--p-slate-100);
    color: var(--p-slate-500);
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

@media (max-width: 600px) {
    .no-families-info {
        gap: 0.5rem;
        padding: 1.5rem;
    }
}

.no-families-info p {
    margin: 0;
}