<section class="article-card" [class.grid]="gridDisplay" [class.list]="listDisplay" (click)="toggleSelection()">
    <ng-container *ngIf="!loading; else loadingTemplate">
        <section class="img">
            <img *ngIf="!imgError" [src]="imgURL" (error)="showPlaceholder()" loading="lazy">
            <div *ngIf="imgError" class="placeholder-img">
                <p-skeleton  height="100%" styleClass="mb-2" borderRadius="4px"/>
            </div>
        </section>
        <section class="info">
            <div class="left">
                <p class="detalle">{{ article.detalle | capitalize }}</p>
                <p class="ref">Ref: {{ article.ref }}</p>
                <p class="pvp">{{ formatedPvp }} €</p>
            </div>
            <div class="c1">
                <div *ngIf="listDisplay" class="stock-info" [title]="article.stock">
                    <div class="circle" [class.green]="inStock" [class.red]="!inStock"></div>
                    <p *ngIf="inStock">Disponible</p>
                    <p *ngIf="!inStock">Sin stock</p>
                </div>
            </div>
        </section>
        <div *ngIf="gridDisplay" class="stock-info" [title]="article.stock">
            <div class="circle" [class.green]="inStock" [class.red]="!inStock"></div>
            <p *ngIf="inStock">Disponible</p>
            <p *ngIf="!inStock">Sin stock</p>
        </div>
    </ng-container>

    <ng-template pTemplate="loader" #loadingTemplate>
        <div class="placeholder-img">
            <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px"/>
        </div>
        <div class="info-placeholder">
            <p class="placeholder-text detalle">
                <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px"/>
            </p>
            <p class="placeholder-text ref">
                <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px"/>
            </p>
            <p class="placeholder-text pvp">
                <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px"/>
            </p>
        </div>
    </ng-template>
</section>

<section *ngIf="selected" class="overlay" (click)="toggleSelection()">
    <section @slideInDown class="article-overlay" (click)="$event.stopPropagation()">
        <i title="cerrar" class="pi pi-times" (click)="toggleSelection()"></i>
        <section class="img">
            <img *ngIf="!imgError" [src]="imgURL" (error)="showPlaceholder()">
            
            <div *ngIf="imgError" class="placeholder-img">
                <p-skeleton class="placeholder-img" height="100%" styleClass="mb-2" borderRadius="4px"/>
            </div>
        </section>
        <section class="info">
            <div class="left">
                <p class="detalle">{{ article.detalle | capitalize }}</p>
                <p class="ref">Ref: {{ article.ref }}</p>
                <p class="pvp">{{ formatedPvp }} €</p>
            </div>
        </section>
    </section>
</section>