section.article-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid var(--gray-300);
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    object-fit: contain;
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

@media (max-width: 600px) {
    img {
        height: 150px;
    }
}

section.info {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

p {
    margin: 0;
    font-size: 1rem;
}

.info .left {
    width: 100%;
    text-align: left;
}

p.detalle {
    font-size: 1rem;
}

p.ref {
    color: var(--gray-600);
    font-size: 0.9rem;
}

p.pvp {
    font-size: 1.25rem;
    text-align: left;
    margin-top: 0.5rem;
    font-weight: 600;
    white-space: nowrap;
}

.placeholder-img {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}

.placeholder-text {
    height: 1rem;
    margin: 0.25rem 0;
}
