<section [id]="article.codebar" class="article-card" [class.grid]="gridDisplay" [class.list]="listDisplay" (click)="toggleSelection()">
  @if (!loading()) {
    <section class="img" [class.placeholder]="!article.has_image || loadingImage() || imgError()">
      @if (article.has_image && !loadingImage() && !imgError()) {
        <img [src]="imgUrl()" (error)="imgError.set(true)" loading="lazy" />
      } @else {
        <div class="placeholder-no-img">
          <div class="content">
            <i class="pi pi-image"></i>
            @if (imgError()) {
              <p>Error al cargar imagen</p>
            } @else if (loadingImage()) {
              <p>Cargando imagen...</p>
            } @else {
              <p>Sin imagen</p>
            }
          </div>
        </div>
      }
    </section>

    <section class="info">
      <div class="left">
        <p class="detalle">{{ article.detalle | capitalize }}</p>
        <p class="ref">Ref: {{ article.ref }}</p>
        <p class="pvp">{{ article.pvp }} €</p>
      </div>

      @if (listDisplay) {
        <div class="stock-info">
          <div class="circle" [class.green]="inStock" [class.red]="!inStock"></div>
          @if (inStock) {
            <p>Disponible</p>
          } @else {
            <p>Sin stock</p>
          }
        </div>
      }

      <div class="c-bottom">
        @if (isHidden() && listDisplay) {
          <div class="hidden-info">
            <i class="pi pi-eye-slash"></i>
          </div>
        }
      </div>
    </section>

    @if (gridDisplay) {
      <div class="stock-info">
        <div class="circle" [class.green]="inStock" [class.red]="!inStock"></div>
        @if (inStock) {
          <p>Disponible</p>
        } @else {
          <p>Sin stock</p>
        }
      </div>
    }

    @if (isHidden() && gridDisplay) {
      <div class="hidden-info">
        <i class="pi pi-eye-slash"></i>
      </div>
    }
  } @else {
    <div class="placeholder-img">
      <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px" />
    </div>
    <div class="info-placeholder">
      <p class="placeholder-text detalle">
        <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px" />
      </p>
      <p class="placeholder-text ref">
        <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px" />
      </p>
      <p class="placeholder-text pvp">
        <p-skeleton height="100%" styleClass="mb-2" borderRadius="4px" />
      </p>
    </div>
  }
</section>

@if (articleSelected()) {
  <section @fadeIn class="overlay-back"></section>

  <section @slideInDown class="overlay" (click)="toggleSelection()">
    <section class="article-overlay" (click)="$event.stopPropagation()">
      @if (!uploadImageMenuActive()) {
        <section class="main-content">
          <div class="c-left">
            @if (isAuth()) {
              <div class="float-button">
                <i title="opciones" class="pi pi-ellipsis-h" (click)="toggleAdminMenu()"></i>
              </div>
            }

            <div class="admin-menu">
              @if (adminMenuActive()) {
                <div class="options-card" @slideInDown>
                  <div class="option featured" (click)="toggleFeatureArticle($event)">
                    <p>{{ isFeatured() ? 'Destacado' : 'Destacar' }}</p>
                    <input type="checkbox" [checked]="isFeatured()" />
                  </div>
                  <div class="option hidden" (click)="toggleHiddenCheckbox($event)">
                    <p>{{ isHidden() ? 'Oculto' : 'Ocultar' }}</p>
                    <input type="checkbox" [checked]="isHidden()" />
                  </div>
                  <div class="option hidden" (click)="toggleImageUploadMenu()">
                    <p>{{ imgError() ? 'Subir imagen' : 'Actualizar imagen' }}</p>
                    <i class="pi pi-upload"></i>
                  </div>
                </div>
              }
            </div>
          </div>

          <div class="c-right">
            <div class="float-button close-icon">
              <i title="cerrar" class="pi pi-times" (click)="toggleSelection()"></i>
            </div>
          </div>

          <section class="img">
            @if (article.has_image || !imgError()) {
              <img [src]="imgUrl()" (error)="imgError.set(true)" />
            } @else {
              <div class="placeholder-no-img">
                <div class="content">
                  <i class="pi pi-image"></i>
                  <p>Sin imagen</p>
                </div>
              </div>
            }
          </section>

          <section class="info">
            <div class="left">
              <p class="detalle">{{ article.detalle | capitalize }}</p>
              <div class="mini-info">
                <p class="ref">Ref: {{ article.ref }}</p>
                <div class="codebar">
                  <i class="pi pi-barcode"></i>
                  <p>: {{ article.codebar }}</p>
                </div>
                @if (isAuth()) {
                  <p class="stock">Stock: {{ article.stock }}</p>
                }
              </div>
              <div class="prize">
                <p class="pvp">{{ article.pvp }} €</p>
                @if (isAuth()) {
                  <p class="pcosto"><b>{{ article.pcosto }} €</b></p>
                }
              </div>
            </div>
          </section>
        </section>
      } @else {
        <section class="upload-image-menu">
          <div class="c-left">
            <div class="float-button">
              <i title="Atrás" class="pi pi-arrow-left" (click)="toggleImageUploadMenu()"></i>
            </div>
          </div>

          <div class="main-content">
            @if (!selectedFile()) {
              <label for="file-upload" class="file-select">
                <i class="pi pi-image"></i>
                <p>Seleccionar imagen</p>
              </label>
            }

            <input id="file-upload" type="file" accept="image/*" (change)="onFileSelected($event)" />

            @if (uploadImagePreview()) {
              <div class="image-preview">
                <img [src]="uploadImagePreview()" alt="Preview Image" style="max-width: 100%; border-radius: 8px;" />
              </div>
            }

            @if (selectedFile()) {
              <div class="is-main-option">
                <p>Imagen principal</p>
                <input type="checkbox" [checked]="isUploadImageMain" (change)="toggleMainImage($event)" />
              </div>

              <div class="option-buttons">
                <button class="clean-file" (click)="cleanFileSelected()" [disabled]="!selectedFile()">Cambiar</button>
                <button class="upload" (click)="uploadImage()" [disabled]="!selectedFile()">
                  @if (!uploadingImage()) {
                    Subir imagen
                  } @else {
                    <i class="pi pi-spin pi-spinner"></i>
                  }
                </button>
              </div>
            }
          </div>
        </section>
      }
    </section>
  </section>
}