section.article-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: var(--border-1-2);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    display: flex;
    padding: 0.75rem;
    transition: all cubic-bezier(.17,.84,.44,1) 0.15s;
}

section.article-card:hover {
    transform: scale(1.005);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
}

section.article-card.grid {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

section.article-card.list {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

@media (max-width: 600px) {
    section.article-card {
        padding: 0.3rem;
    }

    section.article-card.grid{
        gap: 0.3rem;
    }
}

.img{
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


section .placeholder-no-img {
    background-color: var(--p-slate-100);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.grid .placeholder-no-img {
    min-height: 200px;
}

section.list .placeholder-no-img {
    height: 100%;
    align-self: center;
}

section .placeholder-no-img .content {
    color: var(--p-slate-400);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

@media (max-width: 600px) {
    section.grid .placeholder-no-img {
        min-height: 100px;
    }
}


img {
    object-fit: contain;
    border-radius: 4px;
}

.grid img {
    width: 100%;
    height: 200px;
}

.list img {
    height: 100px;
}


@media (max-width: 600px) {
    .grid img {
        height: 150px;
    }

    .list img {
        height: 75px;
    }
}


.stock-info {
    width: min-content;
    font-size: clamp(0.55rem, 2.5vw, 0.85rem);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    white-space: nowrap;
}

section.grid .stock-info {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem 0;
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: var(--border-1-2);
    border-right: none;
    background-color: white;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.075);
}

section.list .stock-info {
    opacity: 0.75;
    align-self: flex-end;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.circle.red {
    background: red;
    box-shadow: 0 0 4px 2px rgba(255, 115, 115, 0.30);
}

.circle.green {
    background: rgb(0, 187, 0);
    box-shadow: 0 0 4px 2px rgba(115, 255, 115, 0.50);
}

@media (max-width: 600px) {
    .stock-info {
        gap: 0.5rem;
    }

    section.grid .stock-info {
        padding: 0.15rem 0.5rem;
        margin: 0.35rem 0
    }

    .circle {
        width: 6px;
        height: 6px;
    }
}


.hidden-info {
    position: absolute;
}

section.grid .hidden-info {
    z-index: 100;
    top: 0;
    left: 0;
    margin: 0.5rem;
}

section.list .hidden-info {
    margin-top: -1.75rem;
    margin-left: -0.5rem;
}

.hidden-info i {
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color: var(--p-slate-900);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.075);
    font-size: clamp(0.6rem, 2.5vw, 1rem);
}

@media (max-width: 600px) {
    section.grid .hidden-info {
        margin: 0.25rem 0.35rem;
    }
     
    section.list .hidden-info {
        margin-top: -1.25rem;
        margin-left: -0.25rem;
    }

    .hidden-info i {
        padding: 0.35rem;
    }


}


section .info {
    border-radius: 4px;
    background-color: var(--p-slate-50);
    border: var(--border-1-2);
    padding: 0.75rem 1rem;
}

section.grid .info {
    display: flex;
    flex-direction: row;
}

section.list .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

@media (max-width: 600px) {
    section .info {
        padding: 0.4rem 0.5rem;
    }  
}

p {
    margin: 0;
}

section.grid .info .left {
    width: 100%;
    text-align: left;
}

section.list .info .left {
    width: 100%;
    text-align: right;
}

p.detalle {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

p.ref {
    color: var(--p-slate-500);
    font-size: clamp(0.65rem, 2.5vw, 0.9rem);
}

p.pvp {
    font-size: clamp(0.95rem, 3vw, 1.25rem);
    margin-top: 0.5rem;
    font-weight: 700;
    white-space: nowrap;
}

.grid .placeholder-img {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .grid .placeholder-img {
        width: 100%;
        height: 100px;
        margin-bottom: 0.5rem;
    }
}


section.list .info-placeholder {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.list .placeholder-img {
    width: 150px;
    height: 100%;
}

.placeholder-text {
    margin: 0.25rem 0;
}

.placeholder-text.detalle {
    width: 65%;
    height: 1.25rem;    
}

.placeholder-text.ref {
    width: 30%;
    height: 1rem;
    opacity: 0.60;
}

.placeholder-text.pvp {
    width: 20%;
    height: 1.75rem;
    margin-top: 0.75rem;
}

@media (max-width: 600px) {
    .placeholder-text {
        margin: 0.15rem 0;
    }

    .placeholder-text.detalle {
        height: 0.65rem;    
    }
    
    .placeholder-text.ref {
        height: 0.5rem;
        opacity: 0.5;
    }
    
    .placeholder-text.pvp {
        height: 1rem;
        width: 30%;
        margin-top: 0.5rem;
    }
}


.overlay-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    overflow: hidden;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-overlay {
    width: 40%;
    min-width: 500px;
    max-width: 800px;
    height: min-content;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border: var(--border-1-3);
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
}

.c-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.c-left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.article-overlay .float-button {
    position: absolute;
    z-index: 800;
}

.article-overlay .float-button i {
    margin: -0.6rem;
    padding: 0.7rem;
    border: var(--border-1-3);
    border-radius: 50%;
    background-color: white;
    font-size: clamp(0.7rem, 1.5vw, 1rem);
    align-self: center;
    max-height: min-content;
    cursor: pointer;
}

.admin-menu .options-card {
    position: absolute;
    z-index: 900;
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
    gap: 0.3rem;
    padding: 0.3rem;
    border: var(--border-1-3);
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
    font-size: clamp(0.90rem, 2.5vw, 1.1rem);
    cursor: pointer;
    max-width: 75vw;
}

.admin-menu .options-card .option {
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-width: 10rem;
    gap: 1rem;
    align-items: center;
}

.admin-menu .options-card .option:hover {
    background-color: var(--p-slate-200);
}

.admin-menu .options-card .option:active {
    background-color: var(--primary-accent-100);
}

.admin-menu .options-card .option input {
    pointer-events: none;
}

.article-overlay img {
    width: 100%;
    max-height: 400px;
    margin-bottom: 1rem;
}

.article-overlay .placeholder-img {
    width: 100%;
    max-height: 400px;
    height: 15rem;
    margin-bottom: 1rem;
}

.article-overlay .placeholder-no-img {
    width: 100%;
    max-height: 400px;
    height: 15rem;
    margin-bottom: 1rem;
}

.article-overlay .info {
    width: 100%;
}


.article-overlay p.detalle {
    font-size: clamp(1rem, 2.5vw, 1.15rem);
}

.mini-info {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.article-overlay p.ref {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.codebar {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--p-slate-500);
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.codebar i {
    font-size: clamp(0.65rem, 1.5vw, 1rem);
}

.article-overlay p.stock {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    color: var(--p-slate-500);
    margin-top: 0.5rem;
}

.article-overlay .prize {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.article-overlay p.pcosto {
    color: var(--p-slate-400);
    font-size: clamp(0.9rem, 3vw, 1.2rem);
}

.article-overlay p.pvp {
    font-size: clamp(1.1rem, 3vw, 1.4rem);
}

@media (min-width: 601px) and (max-width: 1024px) {
    .article-overlay {
        width: 65%;
        min-width: 300px;
        padding: 1.25rem;
    }

    .article-overlay .float-button i {
        margin: -0.75rem -0.5rem;
        padding: 0.6rem;
    }
}

@media (max-width: 600px) {
    .article-overlay {
        width: 85%;
        min-width: 0px;
        padding: 0.75rem;
    }

    .article-overlay .float-button i {
        transform: translateY(-0.2rem);
        padding: 0.5rem;
        margin: -0.4rem;
    }

    .article-overlay img {
        max-height: 200px;
    }

    .article-overlay .placeholder-img {
        height: 8rem;
    }

    .article-overlay .info {
        padding: 0.5rem 0.75rem;
    }

    .mini-info {
        margin-top: 0;
        gap: 0.1rem;
    }
    
    .article-overlay p.stock {
        margin-top: 0.2rem;
    }

    .article-overlay .prize {
        gap: 0.5rem;
    }

}

.upload-image-menu .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file-upload {
    display: none;
}
  
.file-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    gap: 1rem;
    height: 100%;
    width: 100%;
    color: var(--p-slate-400);
    background-color: var(--p-slate-100);
    border: 2px dashed var(--p-slate-200);
    border-radius: 8px;
    cursor: pointer;
    font-size: clamp(0.90rem, 2.5vw, 1.2rem);
    font-weight: 700;
}

.file-select i {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.is-main-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    margin-bottom: 0.5rem;
}

.option-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 0.75rem;
    border-radius: 8px;
    font-size: clamp(0.80rem, 2.5vw, 1rem);
    cursor: pointer;
    font-weight: 600;
}

button.clean-file {
    background-color: white;
    color: var(--primary-accent-500);
    border: 2px solid var(--primary-accent-500);
}

button.upload {
    background-color: var(--primary-accent-500);
    color: white;
    border: 2px solid var(--primary-accent-500);
}


@media (max-width: 600px) {
    .file-select {
        padding: 2.5rem 0;
    }

    button {
        padding: 0.5rem;
    }
}