<div>
    <h2>Calendario de cierres</h2>
    <app-calendar [markedDates]="dailySalesDates" (dateSelected)="onDateSelected($event)"></app-calendar>
  
    <div *ngIf="selectedDate">
      <h3>Tickets de {{ selectedDate }}</h3>
      <ul>
        <li *ngFor="let ticket of tickets" (click)="onTicketSelected(ticket)">
          Ticket #{{ ticket.number }} - {{ ticket.amount }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="selectedTicket">
      <h4>Artículos del ticket #{{ selectedTicket!.number }}</h4>
      <table>
        <thead>
          <tr>
            <th>Artículo</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ticketItems">
            <td>{{ item.detalle }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit_price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  