main {
  max-width: 1200px;
  margin: 1rem auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.divider {
  height: 1px;
  width: 100%;
  align-self: center;
  background: var(--p-slate-300);
}

.top-section {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  gap: 2rem;
  white-space: nowrap;
}

.calendar-box {
  flex: 0 0 auto;
}


.sales {
  flex: 1 1 300px;
}

.sales h3 {
  margin: 0;
}

.no-sales-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--p-slate-500);
  border-radius: 8px;
  border: var(--border-1-3);
  background-color: white;
}

.no-sales-box mat-icon {
  scale: 1.4;
  font-weight: 200;
}

.no-sales-box > .no-sales-message {
  font-size: clamp(0.85rem, 1vw, 1.1rem);
  font-weight: 500;
}

.day-sales {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  max-height: 20rem;
  overflow-y: auto;
}

.sale {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  background: white;
  border: 1px solid var(--p-slate-300);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.sale > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.sale > .header .counter {
  font-weight: 600;
  font-size: 1rem;
}

.sale > .header .time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  color: var(--p-slate-500);
}

.sale > .header .time span {
  font-size: 0.9rem;
}

.sale > .header .time mat-icon {
  scale: 0.7;
}

.sale > .balances {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;
  color: var(--p-slate-500);
}

.sale > .balances .balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
}

.sale > .amount {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-accent-500);
}


.tickets-list-box {
  flex: 1 1 250px;
}

.tickets-list-box h3 {
  margin: 0;
}

.tickets-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-height: 15.5rem;
  overflow-y: auto;
  border: var(--border-1-3);
  border-radius: 8px;
  background-color: white;
  padding: 0.5rem 0.4rem;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.tickets-list > .ticket-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tickets-list > .ticket-item:hover {
  background-color: var(--p-slate-200);
}

.tickets-list > .ticket-item.selected {
  background-color: var(--primary-accent-500);
  color: white;
  font-weight: 600;
}

.tickets-list > .ticket-item .amount {
  color: inherit;
  font-weight: 500;
}

.tickets-list > .ticket-item.selected .amount {
  color: white;
}


.ticket-table {
  font-size: clamp(0.8rem, 1vw, 1rem);
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.ticket-table th,
.ticket-table td {
  border: var(--border-1-3);
  padding: 0.5rem;
  text-align: center;
}

.ticket-table th {
  background-color: var(--primary-accent-500);
  color: white;
}

.ticket-table tfoot td {
  background-color: white;
}

.ticket-table tbody tr:nth-child(even) td {
  background-color: var(--p-slate-100);
}

.ticket-table tbody tr:nth-child(odd) td {
  background-color: white;
}

.ticket-table tr td:first-child {
  text-align: start;
}