main {
    max-width: 100rem;
    margin: 2rem 1rem;
}

@media (min-width: 100rem) {
    main {
        max-width: 100rem;
        margin: 2rem auto;
    }
}

@media (max-width: 600px) {
    main {
        margin: 1rem 0.5rem;
    }
}
