main {
  display: flex;
  overflow: hidden;
  height: 100svh;
}

.content {
  flex: 1 1 auto;
  min-width: 0;
  background: var(--background-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  flex: 1 1 auto;
  min-width: 0;
  height: calc(100svh - var(--header-height));
  overflow: auto;
}

app-side-menu {
  flex: 0 0 auto;
  display: flex;
}