main {
    padding: 1rem;
    border: var(--border-1-2);
    border-radius: 12px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.05);
    background-color: white;
}

@media (max-width: 600px) {  
    main {
        padding: 0.5rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: left;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (max-width: 600px) {
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .toolbar {
        margin-bottom: 0.5rem;
    }
}

.info {
    padding: 0.5rem;
    background-color: white;
    border: var(--border-1-3);
    border-radius: 8px;
}

@media (max-width: 600px) {
    .info {
        padding: 0.4rem;
    }
}

.info h4 {
    margin: 0;
    color: var(--p-slate-600);
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    white-space: nowrap;
}

.display {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 600px) {
    .display {
        gap: 0.5rem;
    }
}

::ng-deep .p-select {
    border-radius: 8px !important;
    border: var(--border-1-3) !important;
    box-shadow: none !important;
    padding: 0.1rem;
    max-width: 20rem;
}

@media (max-width: 600px) {
    ::ng-deep .p-select {
        padding: 0;
        max-width: 11rem;
    }
}

::ng-deep .p-select .p-select-label {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

::ng-deep .p-select-overlay {
    border-radius: 8px;
    border: var(--border-1-3);
    font-family: 'Montserrat';
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

::ng-deep .p-select-list {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

::ng-deep p-selectitem {
    border-radius: 6px;
}

::ng-deep p-selectitem li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
}

::ng-deep .p-select-option.p-focus {
    background-color: var(--primary-accent-50) !important;
    color: var(--primary-accent-500) !important;
}

::ng-deep p-selectitem .p-select-option .p-icon {
    color: var(--primary-accent-500) !important;
}

@media (max-width: 600px) {
    
    ::ng-deep .p-select .p-select-label {
        padding: 0.4rem;
        line-height: 1rem;
    } 
}


.display .pattern-buttons {
    padding: 0.2rem;
    border: 1px solid var(--p-slate-300);
    border-radius: 8px;
    background-color: white;
}

.display .pattern-buttons i {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 6px;
}

@media (max-width: 600px) {
    .display .pattern-buttons {
        padding: 0.1rem;
    }
    .display .pattern-buttons i {
        padding: 0.4rem;
        cursor: pointer;
        border-radius: 6px;
        font-size: 0.85rem;
    }
}

.display .pattern-buttons i:hover {
    background-color: var(--p-slate-50);
}

.display .pattern-buttons i:active {
    background-color: var(--p-slate-100);
}

.display .pattern-buttons i.selected {
    background-color: var(--primary-accent-500);
    color: white;
}

section.articles.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem 1rem;
}

section.articles.list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 600px) {
    section.articles.grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem 0.5rem;
    }

    section.articles.list {
        
    }
}

@media (min-width: 600px) {
    section.articles.list::after {
        content: '';
        flex: 1 1 calc(50% - 1rem);
    }
}

@media (min-width: 1200px) {
    section.articles.list::after {
        flex: 1 1 calc(33.33% - 1rem);
    }
}

app-article {
    flex: 1 1 100%;
}

@media (min-width: 600px) {
    app-article {
      flex: 1 1 calc(50% - 1rem); /* Dos columnas a partir de 600px */
    }
  }
  
@media (min-width: 1200px) {
    app-article {
      flex: 1 1 calc(33.33% - 1rem); /* Tres columnas a partir de 900px */
    }
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.footer p {
    margin: 0;
}

.progress-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: clamp(0.7rem, 2.5vw, 0.85rem);
}

progress {
    appearance: none;
    border: 0;
    display: block;
    height: .25rem;
    width: 12.5rem;
    border-radius: 12px;
    background-color: var(--p-neutral-200);
    border-radius: 12px;
}

progress[value]::-webkit-progress-bar {
    appearance: none;
    border: 0;
    display: block;
    height: .25rem;
    margin: 0 auto 1rem;
    width: 12.5rem;
    background-color: var(--p-neutral-200);
    border-radius: 12px;
}

progress::-webkit-progress-value {
    background-color: var(--primary-accent-500);
    border-radius: 12px; 
}
  
progress::-moz-progress-bar {
    background-color: var(--primary-accent-500);
    border-radius: 12px;
}
  
progress::-ms-fill {
    background-color: var(--primary-accent-500);
    border-radius: 12px;
}

.footer button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem 3rem;
    color: white;
    background-color: var(--primary-accent-500);
    border-radius: 8px;
    font-weight: 600;
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

@media (min-width: 768px) {
    .footer button:hover {
        background-color: var(--primary-accent-600);
    }
}

.footer button:active {
    background-color: var(--primary-accent-400);
}

@media (max-width: 600px) {
    .footer {
        margin-top: 1rem;
    }

    progress {
        width: 9rem;
    }
    
    progress[value]::-webkit-progress-bar {
        width: 9rem;
    }
    

    .footer button {
        margin-top: 0.5rem;
        padding: 0.5rem 1.5rem;
    }
}

.footer i {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

.no-articles-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    border: var(--border-1-3);
    border-radius: 8px;
    box-shadow: inset 0 4px 8px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--p-slate-100);
    color: var(--p-slate-500);
    font-size: clamp(0.75rem, 2.5vw, 1rem);
}

@media (max-width: 600px) {
    .no-articles-info {
        gap: 0.5rem;
        padding: 1.5rem;
    }
}

.no-articles-info p {
    margin: 0;
}