<main>
    <div class="header">
        @if (headerTitle) { <h2>{{ headerTitle }}</h2> }
        
        @if (!noArticles && !serverError) {
            <div class="toolbar">
                <div class="info">
                    <h4>{{ totalArticles }} artículos</h4>
                </div>
                
                <div class="display">
                    <p-select class="sort-by"
                        [options]="sortOptions"
                        [(ngModel)]="selectedSort"
                        (onChange)="onSortChange()"
                        [checkmark]="true"
                        optionLabel="name"
                        placeholder="Ordenar por">
                    </p-select>
                    
                    <div class="pattern-buttons">
                        <i title="Cuadrícula" class="pi pi-th-large" [class.selected]="gridDisplay" (click)="setGridDisplay()"></i>
                        <i title="Lista" class="pi pi-list" [class.selected]="listDisplay" (click)="setListDisplay()"></i>
                    </div>
                </div>
            </div>
        }   
    </div>
    
    @if (!noArticles && !serverError) {
        <section class="articles" [class.grid]="gridDisplay" [class.list]="listDisplay">
            @for (article of (articles.length ? articles : placeholders()); track $index) {
                <app-article [article]="article" [gridDisplay]="gridDisplay" [listDisplay]="listDisplay"></app-article>
            }
        </section>

        <div class="footer">
            <div class="progress-info">
                <p>{{ articles.length }} de {{ totalArticles }} artículos</p>
                <progress [max]="totalArticles" [value]="articles.length"></progress>
            </div>
        
            @if (!allArticlesLoaded || totalArticles == 0) {
                <button (click)="load()" [disabled]="loadingArticles">
                    @if (!loadingArticles) {
                        Mostrar más
                    } @else {
                        <i class="pi pi-spin pi-spinner"></i>
                    }
                </button>
            }
        </div>
    }

    @if (noArticles) {
        <div class="no-articles-info">
            <span class="material-symbols-outlined">search_off</span>
            <p>No se han encontrado artículos</p>
        </div>
    }

    @if (serverError) {
        <div class="no-articles-info">
            <span class="material-symbols-outlined">warning</span>
            <p>Se ha producido un error</p>
        </div>
    }
</main>