<section class="families">
    <app-families/>
</section>

<section class="articles featured">   
    <app-articles
        [articles]="featuredArticles()"
        [headerTitle]="featuredHeaderTitle" 
        [totalArticles]="totalFeaturedArticles()" 
        [perPage]="perPage()" 
        [loadingArticles]="loadingFeatured()" 
        [statusCode]="featuredStatusCode()"
        [defOrderBy]="featuredOrderBy()"
        [defDirection]="featuredDirection()"
        (loadArticles)="onLoadMoreFeaturedArticles()"
        (sortChanged)="onSortChangeFeaturedArticles($event.order_by, $event.direction)"
    />
</section>

<section class="articles new">
    <app-articles 
        [articles]="newArticles()"
        [headerTitle]="newHeaderTitle" 
        [totalArticles]="totalNewArticles()" 
        [perPage]="perPage()" 
        [loadingArticles]="loadingNew()" 
        [statusCode]="newStatusCode()"
        [defOrderBy]="newOrderBy()"
        [defDirection]="newDirection()"
        (loadArticles)="onLoadMoreNewArticles()"
        (sortChanged)="onSortChangeNewArticles($event.order_by, $event.direction)"
    />
</section>
