<section class="families">
    <app-families/>
</section>

<section class="articles featured">   
    <app-articles
        (loadArticles)="loadFeaturedArticles()"
        (sortChanged)="onSortChangeFeaturedArticles($event.order_by, $event.direction)" 
        [articles]="featuredArticles"
        [headerTitle]="featuredHeaderTitle" 
        [totalArticles]="totalFeaturedArticles" 
        [perPage]="perPage" 
        [loadingArticles]="loadingFeaturedArticles" 
        [statusCode]="featuredStatusCode"
        [defOrderBy]="featuredArticlesOrderBy"
        [defDirection]="featuredArticlesDirection"
    />
</section>

<section class="articles new">
    <app-articles 
        (loadArticles)="loadNewArticles()"
        (sortChanged)="onSortChangeNewArticles($event.order_by, $event.direction)" 
        [articles]="newArticles"
        [headerTitle]="newHeaderTitle"
        [totalArticles]="totalNewArticles"
        [perPage]="perPage"
        [loadingArticles]="loadingNewArticles"
        [statusCode]="newStatusCode"
        [defOrderBy]="newArticlesOrderBy"
        [defDirection]="newArticlesDirection"
    />
</section>
