main {
  display: flex;
  flex-direction: row;
  height: calc(100svh - var(--header-height));
  overflow: hidden;
}

section.content {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.messages {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
}

section.content > .main-content {
  flex: 1 1 auto; /* ocupa todo lo que queda */
  background: var(--background-white);
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
}

aside.sidebar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0.5rem;
  background: white;
  border-left: var(--border-1-3);
  overflow: hidden;
  width: 70px;
  transition: width 0.3s ease;
}

.sidebar.expanded {
  width: 260px;
}

.sidebar > .divider {
  height: 1px;
  width: 95%;
  align-self: center;
  background: var(--p-slate-300);
}


.sidebar > .top {
  flex: 0 0 auto;
  margin-bottom: 0.5rem;
}

.sidebar.expanded > .top {
  justify-content: flex-start;
}

.toggle-btn {
  background: var(--p-slate-100);
  border: none;
  border-radius: 8px;
  height: 35px;
  width: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, transform 0.2s;
}

.toggle-btn:hover {
  background: var(--p-slate-200);
  transform: translateX(-3px);
}

.sidebar.expanded .toggle-btn:hover {
  transform: translateX(3px);
}

.toggle-btn i {
  font-size: 1.4rem;
  color: var(--p-slate-600);
  transition: transform 0.3s;
}

.sidebar.expanded .toggle-btn i {
  transform: rotate(180deg);
}


.sidebar > .middle {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0.5rem 0;
}

.sidebar > .middle ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.sidebar .option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border: var(--border-1-2);
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 500;
  transition: background 0.3s ease;
}

.sidebar .option:hover {
  background: var(--p-slate-100);
}

.sidebar .option.active {
  background: var(--primary-accent-50);
  border-color: var(--primary-accent-200);
  border-left: 3px solid var(--primary-accent-500);
  font-weight: 600;
  color: var(--primary-accent-700);
  position: sticky;
  top: 0.25rem;
  bottom: 0.25rem;
}

.sidebar .option i {
  font-size: 1.4rem;
  flex-shrink: 0;
}

.sidebar .option .content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0 1rem;
  justify-content: flex-start;
  white-space: nowrap;
}

/* En contraído → solo icono visible y centrado */
.sidebar:not(.expanded) .option .content {
  justify-content: left;
}

.sidebar .option.logout {
  color: var(--error-accent-400);
  border: var(--border-1-2);
  border-color: var(--error-accent-400);
  transition: background 0.3s ease;
}

.sidebar .option.logout:hover {
  color: white;
  background: var(--error-accent);
}


.sidebar > .bottom {
  flex: 0 0 auto;
  margin-top: 0.5rem;
}