main {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  position: relative;
  flex-direction: column;
}

.messages {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 1rem;
  z-index: 10;
}

.content > .main-content {
  flex: 1 1 auto;
  background: var(--background-white);
  padding: 1rem;
  box-sizing: border-box;
}