<header>
    <div class="container" [class.extended]="isAuth">
        <img [routerLink]="['/auth/login']"  src="assets/logos/fleming_logo.webp" alt="Fleming Logo">
        
        @if (isAuth) {
            <section class="admin-menu" [routerLink]="['/admin']">
                @if (!isScreenSmall) {
                    <div class="user-info">
                        <mat-icon class="material-symbols-outlined">person</mat-icon>
                        <p>{{ username }}</p>
                    </div>
                } @else {
                    <div class="drawer-button" (click)="drawerService.toggle()">
                        <mat-icon class="material-symbols-outlined">side_navigation</mat-icon>
                    </div>
                }
            </section>
        }
    </div>
</header>
