header {
    height: var(--header-height);
    background-color: white;
    border-bottom: var(--border-1-3);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.main {
    max-width: 100rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    box-sizing: border-box;
}

.main.small {
    flex-direction: column;
    margin: 0 0.5rem;
    gap: 0.5rem;
}

@media (min-width: 100rem) {
    .main {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .main {
        margin: 0 0.5rem;
    }
}

.first-line {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.small .first-line {
    flex: 0 0 auto;
    margin-top: 0.5rem;
    justify-content: space-between;
}

img {
    height: var(--header-logo-height);
    cursor: pointer;
}

.first-line .search-bar {
    flex: 1 1 auto;
}

.admin-menu .drawer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0.25rem;
    box-sizing: border-box;
    transition: background 0.3s ease;
    cursor: pointer;
}

.admin-menu .drawer-button:hover {
    background: var(--p-slate-200);
}

.admin-menu .drawer-button span {
    font-size: 30px;
}

@media (max-width: 600px) {
    .admin-menu .drawer-button span {
        font-size: 24px;
    }
}


.second-line {
    flex: 1 1 auto;
    width: 100%;
}