header {
    background-color: white;
    box-shadow: 0px 2px 15px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    width: 100%;
}

section {
    width: 100rem;
}

img {
    height: 2.5rem;
    margin: 1.5rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    img {
        height: 1.5rem;
        margin: 1rem;
    }  
}