header {
    background-color: white;
    border-bottom: var(--border-1-2);
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 100rem;
    margin: 1.5rem;
}

.container.extended {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

img {
    height: 2.5rem;
    
    cursor: pointer;
}

@media (min-width: 100rem) {
    .container {
        margin: 1.5rem 0;
    }
}

@media (max-width: 600px) {
    .container {
        margin: 1rem;
    }

    img {
        height: 1.5rem;
    }
}

p {
    font-size: clamp(0.7rem, 2vw, 1rem);
    margin: 0;
    white-space: nowrap;
}

.admin-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 2rem;
}

.admin-menu .links {
    display: flex;
    align-items: center;
}

.admin-menu .links p {
    padding: 0 1rem;
    font-weight: 600;
    color: var(--primary-accent-500);
    cursor: pointer;
}

.admin-menu .links p:hover {
    text-decoration: underline;
}