/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --background-white: #f8fafc;

  /* Accents */
  --primary-accent-50: #f5fbff;
  --primary-accent-100: #e9f2fc;
  --primary-accent-200: #a1c6f3;
  --primary-accent-300: #72aaed;
  --primary-accent-400: #438de7;
  --primary-accent-500: #0151bd; /* Base color */
  --primary-accent-600: #0148a7;
  --primary-accent-700: #013e90;
  --primary-accent-800: #01357a;
  --primary-accent-900: #012b63;

  --success-accent: #2E7D32;
  --warn-accent: #e99b27;
  --error-accent: #C62828;
  --error-accent-400: #EF5350;

  --border-1-2: 1px solid var(--p-slate-200);
  --border-1-3: 1px solid var(--p-slate-300);


  --header-height: 5rem;      /* tamaño por defecto */
  --header-logo-height: calc(var(--header-height) * 0.5);

  --header-height-lg: 5.5rem;   /* pantallas grandes */
  --header-height-sm: 3rem;   /* pantallas pequeñas -> multilinea */

  @media (min-width: 100rem) {
    --header-height: var(--header-height-lg);
    --header-logo-height: calc(var(--header-height-lg) * 0.5);
  }

  @media (max-width: 600px) {
    --header-height: calc(var(--header-height-sm)*1.9);
    --header-logo-height: calc(var(--header-height-sm) * 0.5);
  }
}

html, body { height: 100%;}
body { 
  margin: 0;
  font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-white);
  color: var(--p-slate-800);
}

h2 {
  margin: 0;
  color: var(--p-slate-900);

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

button {
  border: none;
  font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
}

input {
  font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
}