/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: 'Lemon Milk';
  src: url('/assets/fonts/LEMONMILK-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-white: #f8fafc;

  /* Accents */
  --primary-accent-500: #0151bd;

}

html, body { height: 100%;}
body { 
  margin: 0;
  font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-white);
}

h2 {
  color: var(--primary-accent-500);
  font-size: 1.75rem;
}

button {
  border: none;
  font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
}

input {
  font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
}