/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'Lemon Milk';
    src: url('/assets/fonts/LEMONMILK-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

html, body { height: 100%;}
body { 
    margin: 0;
    font-family: 'Montserrat','Segoe UI', Roboto, "Helvetica Neue", sans-serif;
}
